{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            {% include 'material/includes/material_css.html' %}
            <link rel="stylesheet" href="{% static 'microinvoicer/styles.css' %}">
            {% block js %}
            <script src="{% static 'material/js/jquery.js' %}"></script>
            <script src="{% static 'material/js/turbolinks.js' %}"></script>
            {% include 'material/includes/material_js.html' %}
            {% block extrajs %}{% endblock %}
            {% endblock %}
        {% endblock %}
        <title>{% block title %}MicroInvoicer{% endblock %}</title>
    </head>
    <body>
        <header>
            {% block header %}{% include "header.html" %}{% endblock %}
        </header>

        <div class="container">
        {% if messages %}
        <div class="row" style="margin-top: 1rem;">
            {% for message in messages %}
            <div class="col s12">
                <div class="card-panel {% if message.tags == 'success' %}green lighten-4{% elif message.tags == 'warning' %}orange lighten-4{% elif message.tags == 'error' %}red lighten-4{% else %}blue lighten-4{% endif %}" style="padding: 10px 15px; margin-bottom: 0.5rem;">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
        </div>

        <footer>
        {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
