{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            {% include 'material/includes/material_css.html' %}
            <link rel="stylesheet" href="{% static 'microinvoicer/styles.css' %}">
            {% block js %}
            <script src="{% static 'material/js/jquery.js' %}"></script>
            <script src="{% static 'material/js/turbolinks.js' %}"></script>
            {% include 'material/includes/material_js.html' %}
            {% block extrajs %}{% endblock %}
            {% endblock %}
        {% endblock %}
        <title>{% block title %}MicroInvoicer{% endblock %}</title>
    </head>
    <body>
        <header>
            {% block header %}{% include "header.html" %}{% endblock %}
        </header>

        <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="card-panel {% if message.tags == 'error' %}red{% elif message.tags == 'success' %}green{% elif message.tags == 'warning' %}orange{% else %}blue{% endif %} lighten-3" style="padding: 10px 15px; margin-bottom: 10px;">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
        </div>

        <footer>
        {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
