{% extends "base.html" %}
{% load material_form %}

{% block content %}
<div class="row">
    <div class="{%block formclass %}col s12 m8 l8 offset-l2 offset-m2{% endblock %}">
        <div class="card">
            <form method="post">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">{% block formtitle %}{{ form_title }}{% endblock %}</span>
                    {% csrf_token %}
                    {% if duplicate_matches %}
                    <div class="card orange lighten-4" style="margin-bottom: 1em; padding: 1em;">
                        <strong>Possible duplicate client(s) found:</strong>
                        <ul>
                        {% for match in duplicate_matches %}
                            <li>
                                <strong>{{ match.name }}</strong>
                                ({{ match.fiscal_code }})
                                <a href="{% url 'registry-client-detail' registry_id=registry.id pk=match.id %}" target="_blank">view</a>
                            </li>
                        {% endfor %}
                        </ul>
                        <input type="hidden" name="confirm_create" value="1">
                        <p><small>Submit again to proceed anyway, or
                            <a href="{% url 'registry-client-list' registry_id=registry.id %}">view all clients</a>.
                        </small></p>
                    </div>
                    {% endif %}
                    {% block inside_form_content %}{% endblock %}
                    {% form %}
                    {% block formcontent %}{% endblock %}
                    {% endform %}
                </div>
                <div class="card-action">
                    {% block actions %}
                    <div class="right-align">
                        {% block formbuttons %}
                        <button class="btn btn-large" type="submit" style="background-color: rgba(0, 0, 0, 0.87)"> &gt;&gt; </button>
                        {% endblock %}
                    </div>
                    {% endblock %}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">{% block more_content %}{% endblock %}</div>
{% endblock %}
