{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="row">
        <div style="text-align:center; margin-bottom: 1em;">
            {% if object.is_draft %}
                <span class="badge badge-draft" style="font-size: 1.2em; padding: 6px 16px;">DRAFT</span>
            {% elif object.is_published %}
                <span class="badge badge-published" style="font-size: 1.2em; padding: 6px 16px;">PUBLISHED</span>
            {% elif object.is_storno %}
                <span class="badge badge-storno" style="font-size: 1.2em; padding: 6px 16px;">STORNO</span>
            {% endif %}
        </div>

        {% if object.is_storno and object.storno_of %}
        <div class="card" style="background: #ffebee; text-align:center;">
            <div class="card-content" style="padding: 12px;">
                <span style="color: #c62828;">
                    Storno of invoice <strong>{{ object.storno_of.series_number }}</strong>
                </span>
            </div>
        </div>
        {% endif %}

        {% if object.has_storno %}
        <div class="card" style="background: #fff3e0; text-align:center;">
            <div class="card-content" style="padding: 12px;">
                <span style="color: #e65100;">
                    This invoice has been stornoed by <strong>{{ object.storno_invoice.series_number }}</strong>
                </span>
            </div>
        </div>
        {% endif %}

        <div class="col s6">
            <small>[seller]</small><br>
            <strong><u>{{ object.seller.name }}</u></strong><br>
            {{ object.seller.address }}<br>
            {{ object.seller.country.name }}<br>
        </div>
        <div class="col s6 right-align">
            <small>[buyer]</small><br>
            <strong><u>{{ object.buyer.name }}</u></strong><br>
            {{ object.buyer.address }}<br>
            {{ object.buyer.country.name }}<br>
        </div>
    </div>
    <h4 align="center">Invoice {{ object.series_number }}</h4><br>
    <div class="row">
        <div class="col s6">{{ object.description }}</div>
        <div class="col s6 right-align">issued on <strong>{{ object.issue_date|naturalday }}</strong></div>
    </div>
    <div class="card">
        <div class="card-content">
            <h5 align="center">
                {{ object.quantity }} <sub><small>{{ object.unit }}</small></sub>
                x {{ object.unit_rate|floatformat:0 }} <sub><small>{{ object.contract_currency }}/{{ object.unit }}</small></sub>
                {% if object.conversion_rate %}
                 x {{ object.conversion_rate|floatformat:4 }} <sub><small>{{ object.currency }}/{{ object.contract_currency }}</small></sub>
                {% endif %}
                {% if object.include_vat %}
                + {{ object.include_vat }}% <sub><small>VAT</small></sub>
                {% endif %}
                {% if object.attached_cost %}
                + {{ object.attached_cost|floatformat:2|intcomma }} <sub><small>{{ object.currency }}</small></sub>
                {% endif %}
                = {{ object.value|floatformat:2|intcomma }} <sub><small>{{ object.currency }}</small></sub>
            </h5>
        </div>
    </div>
    <br>
</div>
<div class="row">
    <div class="col center-align">
        {% if object.is_draft %}
            <a class="btn-large" style="background-color: #2e7d32;" href="{% url 'registry-invoice-publish' registry_id=object.registry.id pk=object.id %}">
                Publish
            </a>
            <a class="btn-large" style="background-color: #555;" href="{% url 'registry-invoice-edit' registry_id=object.registry.id pk=object.id %}">
                Edit Draft
            </a>
            <a class="btn-large" style="background-color: #c62828;" href="{% url 'registry-invoice-delete' registry_id=object.registry.id pk=object.id %}">
                Delete Draft
            </a>
        {% else %}
            <a class="btn-large" href="{% url 'registry-invoice-print' registry_id=object.registry.id pk=object.id %}" download>
                Download PDF
            </a>
            <a class="btn-large" href="{% url 'registry-invoice-timesheet' registry_id=object.registry.id pk=object.id %}" download>
                Fake Timesheet PDF
            </a>
            {% if object.is_published and not object.has_storno %}
            <a class="btn-large" style="background-color: #c62828;" href="{% url 'registry-invoice-storno' registry_id=object.registry.id pk=object.id %}">
                Storno
            </a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
